.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 100px;
}

@media (min-width: 901px) {
  .container {
    background-color: lavenderblush;
    grid-template-areas:
      "login  title   title"
      "menu  content   extra"
      "menu  content   extra"
      "menu  content   extra"
      "menu  content   extra"
      "social  social   social"
      "footer footer footer";
  }
}

@media (max-width: 900px) {
  .container {
    background-color: lightcyan;
    grid-template-areas:
      "login  title   title"
      "menu  content   content"
      "menu  content   content"
      "menu  content   content"
      "extra  extra   extra"
      "social  social   social"
      "footer footer footer";
  }
}

@media (max-width: 700px) {
  .container {
    background-color: lavender;
    grid-template-areas:
      "title  title   title"
      "login  menu   menu"
      "content  content   content"
      "content  content   content"
      "extra  extra   extra"
      "social  social   social"
      "footer footer footer";
  }
}

@media (max-width: 500px) {
  .container {
    background-color: cornsilk;
    grid-template-areas:
      "title  title   title"
      "login  login   login"
      "menu  menu   menu"
      "content  content   content"
      "extra  extra   extra"
      "social  social   social"
      "footer footer footer";
  }
}

.footer {
  grid-area: footer;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.extra {
  grid-area: extra;
}

.social {
  grid-area: social;
}

.title {
  grid-area: title;
  display: grid;
  grid-template-columns: auto 1fr;
}

.logo {
  grid-area: logo;
}

.login {
  grid-area: login;
}

@media (min-width: 600px) {
  auth-status {
    height: 64px;
  }
}
